.place__title {
  max-width: 460px;
  text-align: start;
  margin: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
}

.place__title:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
    font-size: 7.1vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    line-height: 46px;
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    line-height: 35px;
    font-size: 10vw;
    margin: 0 16px 32px;
  }
}