.place__title {
  max-width: 460px;
  width: 100%;
  text-align: start;
  margin: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
}

.place__title:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

@media screen and (max-width: 1024px) {
  .place__title {
    line-height: calc(35px + (41 + 41 * 0.7) * ((100vw - 320px) / 1280));
    font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media screen and (max-width: 407px) {
  .place__title {
    max-width: 353px;
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    margin: 0 0 32px 13px;
  }
}