.title {
  max-width: 720px;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .title {
    max-width: 77.6%;
  }
}

@media screen and (max-width: 778px) {
  .title {
    max-width: 92%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    max-width: 93.8%;
    margin: 0 3.1%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    max-width: 90%;
    margin: 0 5%;
  }
}