.header {
  max-width: clamp(288px, 92.5vw, 1184px);
  margin: 28px auto 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: clamp(288px, 90.6vw, 1184px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: clamp(288px, 93.8vw, 1184px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 17px 16px 0;
  }
}