.header {
  max-width: calc(100% - (2*(100% - 92.5%)/2));
  /* width: 100%; */
  margin: 28px calc((100% - 92.5%)/2) 0;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  column-gap: 18px;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0;
    grid-template-columns: auto 40px 22px;
    column-gap: 0;
  }
}