.footer__link {
  margin: 0 18px 0 0;
  padding: 0;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .footer__link {
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: start;
    margin: 0;
    padding-bottom: 32px;
  }
}