.lead__title {
  margin: 0 auto;
  line-height: clamp(44px, 12.6vw, 100px);
  font-size: clamp(40px, 12.6vw, 96px);
  font-weight: 900;
}

@media screen and (max-width: 320px) {
  .lead__title {
    line-height: 44px;
  }
} 