.place__paragraph_bottom {
  max-width: 484px;
  margin: 0;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
}

.place__paragraph_bottom:nth-child(5) {
  grid-column: 2/2;
  grid-row: 6/5;
}

@media screen and (max-width: 1024px) {
  .place__paragraph_bottom {
    max-width: 456px;
    font-size: 1.76vw;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph_bottom {
    max-width: 352px;
    line-height: 26px;
    font-size: 2.1vw;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph_bottom {
    max-width: 288px;
    margin: 25px auto 0;
    font-size: 5vw;
  }

  .place__paragraph_bottom:nth-child(5) {
    grid-column: 1/2;
    grid-row: 6/5;
  }
}