.cover__background {
  width: 100%;
  background-size: cover;
  background: #2A2C2F;
  opacity: 0.8;
  grid-column: 1/4;
  grid-row: 1/5;
}

.cover__background:hover {
  opacity: 0.3;
  transition: 0.5s;
  cursor: pointer;
}

@media screenand (max-width: 320px) {
  .cover__background {
    max-width: 320px;
  }
}