.place {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 48px min-content;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 408px) {
  .place {
    max-width: 407px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    align-content: space-between;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    align-content: space-between;
    margin: 0;
  }
}