.header__lang-links {
  margin: 18px 0 6px;
  padding: 0;
  max-width: 78px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22px, 1fr));
  column-gap: 18px;
}