.place__website {
  max-width: 456px;
  display: grid;
  justify-content: space-between;
  align-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
}

@media screen and (max-width: 605px) {
  .place__website {
    max-width: 288px;
    justify-self: start;
    margin: 0 0 32px 16px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}