.place__website {
  max-width: 456px;
  max-height: 46px;
  display: grid;
  justify-content: space-between;
  align-self: end;
}

.place__website:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    justify-self: start;
    margin: 0 16px 32px;
  }

  .place__website:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}